@font-face {
    font-family: 'testfont';
    src: url('./webfont.woff') format('woff');
}

.underline {
    color: blueviolet;
    font-size: 60px;
    font-family: 'testfont';
    background: url('./logo.png');
}